# theme
#jt -t monokai -f fira -fs 13 -nf ptsans -nfs 11 -N -kl -cursw 5 -cursc r -cellw 95% -T #https://medium.com/@rbmsingh/making-jupyter-dark-mode-great-5adaedd814db
#fix scratch extension
# sed s/width: 50/width: 20/" ./.local/share/jupyter/nbextensions/scratchpad/scratchpad.css
#undo last commit
# git config --global alias.undo-commit 'reset --soft HEAD^'
# git undo-commit
#checkout specific file/commit
# git log --graph #find <sha>
# checkout <sha> file
#[dockerImage](https://github.com/animesh/notebooks/blob/master/Dockerfile):
# docker.io/animesh1977/notebooks
*
#!*/
!.gitignore
!*.ipynb
!Dockerfile
