#undo last commit
# git config --global alias.undo-commit 'reset --soft HEAD^'
# git undo-commit
#checkout specific file/commit
# git log --graph #find <sha>
# checkout <sha> file
#[dockerImage](https://github.com/animesh/notebooks/blob/master/Dockerfile):
# docker.io/animesh1977/notebooks
*
#!*/
!.gitignore
!*.ipynb
!Dockerfile
